.page
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=506085299442621";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  %header{ class: bg_color_of(@page)[:header] }
    .nav-container
      %ul
        %li
          %a.share.right{ class: bg_color_of(@page)[:twitter], href: twitter_share_url, target: "_blank" }
        %li
          %a.share.right.spacing1{ class: bg_color_of(@page)[:facebook], href: facebook_share_url, target: "_blank" }
    - if @page == 0
      .initial-description
    - else
      .description{ class: bg_color_of(@page)[:font] }
        Bla Bla Bla and things
    .subtitle
      %h3="Do you have the balls"
      %h3="to like it?"
  .angle-area{ class: bg_color_of(@page)[:footer] }
    .angle-container
      %svg{ width: "100%", height: "100%", xmlns: "http://www.w3.org/2000/svg", version: "1.1", viewBox: "0 0 1024 139", preserveAspectRatio: "none" }
        %path{ class: bg_color_of(@page)[:top_angle], d: "m250 76 h500 l-250 70 z" }
        %path{ class: bg_color_of(@page)[:bottom_angle], d: "m0 139 h1024 v-139 l-512 139 l-512 -139 z" }
  .footer-area{ class: bg_color_of(@page)[:footer] }
    %footer{ class: bg_color_of(@page)[:footer] }
      .fb-like-container
        .facebook-like.fb-like{ :'data-href' => @weird_site.url, :'data-send' => "false", :'data-width' => 450, :'data-show-faces'=> "false" }
      - if @admin.present?
        .admin-form
          = button_to("SKIP", { action: 'skip' }, method: :get, remote: true, class: "ws-btn", form_class: "ws-form inline admin-skip")
          = button_to("RESET", { action: 'reset' }, method: :get, class: "ws-btn", form_class: "ws-form inline")
