.page{ class: bg_color_of(@page)[:footer], style: size_page(@browser_vsize) }
  %header{ class: bg_color_of(@page)[:header] }
    .nav-container
      %ul
        %li
          %a.share-twitter.right{ class: bg_color_of(@page)[:twitter], href: twitter_share_url, target: "_blank" }
        %li
          %a.share-facebook.right.spacing1{ class: bg_color_of(@page)[:facebook], href: facebook_share_url, target: "_blank" }
    - if @landing_page
      .hidden="HIHI"
      .initial-description
      .subtitle{ class: bg_color_of(@page)[:font] }
        %h3="Do you have the balls"
        %h3="to like it?"
    - else
      .description.inline{ class: bg_color_of(@page)[:font] }
        .title-top.uppercase.inline
          .bar.left.spacing3{ class: bg_color_of(@page)[:bar] }
          %h1.left="you liked"
          .bar.right{ class: bg_color_of(@page)[:bar] }
        .title-middle.uppercase
          %a.middle-table-cell{ href: @weird_site_just_liked.url, target: '_blank' }
            %h2= @weird_site_just_liked.name
        .title-bottom.inline
          .bar.left.spacing2{ class: bg_color_of(@page)[:bar] }
          %h3.left="Got the balls"
          .bar.right{ class: bg_color_of(@page)[:bar] }
          %h3.inline="to keep going?"
  .angle-area{ class: bg_color_of(@page)[:footer] }
    - if @landing_page
      .vertical-animate.hidden
    .angle-container
      %svg{ width: "100%", height: "100%", xmlns: "http://www.w3.org/2000/svg", version: "1.1", viewBox: "0 0 1024 139", preserveAspectRatio: "none" }
        %path{ class: bg_color_of(@page)[:top_angle], d: "m230 64 h555 l-250 90 z" }
        %path{ class: bg_color_of(@page)[:bottom_angle], d: "m0 139 h1024 v-139 l-512 139 l-512 -139 z" }
  .footer-area{ class: bg_color_of(@page)[:footer] }
    %footer{ class: bg_color_of(@page)[:footer] }
      .fb-like-container
        .facebook-like.fb-like{ :'data-href' => @weird_site_to_be_liked.url, :'data-send' => "false", :'data-width' => 450, :'data-show-faces'=> "false" }
      .admin-form
        = button_to("SKIP", { action: 'skip' }, method: :get, remote: true, class: "ws-btn", form_class: "ws-form inline admin-skip")
        = button_to("RESET", { action: 'reset' }, method: :get, class: "ws-btn", form_class: "ws-form inline")
