%header
  #description
  #subtitle
    %h3="Do you have the balls"
    %h3="to like it?"
#angle-container
%footer
  #facebook-like.fb-like{ :'data-href' => @weird_site.url, :'data-send' => "false", :'data-width' => 450, :'data-show-faces'=> "false" }
  = form_for :skip do |f|
    = f.submit "SKIP", class: "ws-btn" if @admin.present?
