
@font-face {
  font-family: 'OpenSans-CondBold';
  font-style: normal;
  font-weight: normal;
  src: font-url('OpenSans-CondBold.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: font-url('OpenSans-ExtraBold.ttf') format('truetype');
}

$color00: #ff0066;
$color01: #66ff00;
$color02: #0099ff;
$color03: #ffff00;
$color04: #6666cc;
$color05: #999999;
$color06: #ff6666;
$color07: #33ffcc;
$color08: #ff6600;
$color09: #ffffff;
$color10: #99cc33;
$color11: #333333;
$color12: #ff0000;
$color13: #ffff00;

$default-color: #421714;

$fb-like-bg-color1: #eceef5;
$fb-like-bg-color2: #f4f6ff;
$fb-like-color: #5571a9;
$default-font: 'georgia', serif;
$font1: 'OpenSans-ExtraBold';
$font2: 'OpenSans-CondBold';
$angle-overlap: -64px;

.spacing1 { margin-right: 15px; }
.spacing2 { margin-right: 8px; }
.spacing3 { margin-right: 4px; }
.right { float: right; }
.left { float: left; }
.inline { display: inline-block; }
.uppercase { text-transform: uppercase; }
.hidden { display: none; }

.bg-color00 { background-color: $color00; }
.bg-color01 { background-color: $color01; }
.bg-color02 { background-color: $color02; }
.bg-color03 { background-color: $color03; }
.bg-color04 { background-color: $color04; }
.bg-color05 { background-color: $color05; }
.bg-color06 { background-color: $color06; }
.bg-color07 { background-color: $color07; }
.bg-color08 { background-color: $color08; }
.bg-color09 { background-color: $color09; }
.bg-color10 { background-color: $color10; }
.bg-color11 { background-color: $color11; }
.bg-color12 { background-color: $color12; }
.bg-color13 { background-color: $color13; }

.initial-color { color: $default-color; }
.color00 { color: $color00; }
.color01 { color: $color01; }
.color02 { color: $color02; }
.color03 { color: $color03; }
.color04 { color: $color04; }
.color05 { color: $color05; }
.color06 { color: $color06; }
.color07 { color: $color07; }
.color08 { color: $color08; }
.color09 { color: $color09; }
.color10 { color: $color10; }
.color11 { color: $color11; }
.color12 { color: $color12; }
.color13 { color: $color13; }

.angle00 { fill: $color00; stroke: $color00; }
.angle01 { fill: $color01; stroke: $color01; }
.angle02 { fill: $color02; stroke: $color02; }
.angle03 { fill: $color03; stroke: $color03; }
.angle04 { fill: $color04; stroke: $color04; }
.angle05 { fill: $color05; stroke: $color05; }
.angle06 { fill: $color06; stroke: $color06; }
.angle07 { fill: $color07; stroke: $color07; }
.angle08 { fill: $color08; stroke: $color08; }
.angle09 { fill: $color09; stroke: $color09; }
.angle10 { fill: $color10; stroke: $color10; }
.angle11 { fill: $color11; stroke: $color11; }
.angle12 { fill: $color12; stroke: $color12; }
.angle13 { fill: $color13; stroke: $color13; }

.initial-share-facebook { background: image-url('Button_facebook_startscreen.png') no-repeat center center; }
.share-facebook00 { background: image-url('Button_facebook_ff0066.png') no-repeat center center }
.share-facebook01 { background: image-url('Button_facebook_66ff00.png') no-repeat center center }
.share-facebook02 { background: image-url('Button_facebook_0099ff.png') no-repeat center center }
.share-facebook03 { background: image-url('Button_facebook_ffff00.png') no-repeat center center }
.share-facebook04 { background: image-url('Button_facebook_6666cc.png') no-repeat center center }
.share-facebook05 { background: image-url('Button_facebook_999999.png') no-repeat center center }
.share-facebook06 { background: image-url('Button_facebook_ff6666.png') no-repeat center center }
.share-facebook07 { background: image-url('Button_facebook_33ffcc.png') no-repeat center center }
.share-facebook08 { background: image-url('Button_facebook_ff6600.png') no-repeat center center }
.share-facebook09 { background: image-url('Button_facebook_ffffff.png') no-repeat center center }
.share-facebook10 { background: image-url('Button_facebook_99cc33.png') no-repeat center center }
.share-facebook11 { background: image-url('Button_facebook_333333.png') no-repeat center center }
.share-facebook12 { background: image-url('Button_facebook_ff0000.png') no-repeat center center }
.share-facebook13 { background: image-url('Button_facebook_ffff00.png') no-repeat center center }

.initial-share-twitter  { background: image-url('Button_twitter_startscreen.png')  no-repeat center center; }
.share-twitter00 { background: image-url('Button_twitter_ff0066.png') no-repeat center center }
.share-twitter01 { background: image-url('Button_twitter_66ff00.png') no-repeat center center }
.share-twitter02 { background: image-url('Button_twitter_0099ff.png') no-repeat center center }
.share-twitter03 { background: image-url('Button_twitter_ffff00.png') no-repeat center center }
.share-twitter04 { background: image-url('Button_twitter_6666cc.png') no-repeat center center }
.share-twitter05 { background: image-url('Button_twitter_999999.png') no-repeat center center }
.share-twitter06 { background: image-url('Button_twitter_ff6666.png') no-repeat center center }
.share-twitter07 { background: image-url('Button_twitter_33ffcc.png') no-repeat center center }
.share-twitter08 { background: image-url('Button_twitter_ff6600.png') no-repeat center center }
.share-twitter09 { background: image-url('Button_twitter_ffffff.png') no-repeat center center }
.share-twitter10 { background: image-url('Button_twitter_99cc33.png') no-repeat center center }
.share-twitter11 { background: image-url('Button_twitter_333333.png') no-repeat center center }
.share-twitter12 { background: image-url('Button_twitter_ff0000.png') no-repeat center center }
.share-twitter13 { background: image-url('Button_twitter_ffff00.png') no-repeat center center }


