$color1: #ff0066;
$color2: #66ff00;
$color3: #421714;
$default-font: 'georgia', serif;

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: $color2;
  font-family: $default-font;
}

#content {
  height: 928px;
  text-align: center;
}

header {
  padding-top: 147px;
  padding-bottom: 132px;
  background-color: $color1;
}

#footer-left,#footer-right { background-color: $color2; }
#footer-left,#footer-right { height: 256px; }
#footer-left,#footer-right {
  width: 50%;
  float: left;
}

#footer-left {
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(14deg) scale(1.03) skewX(14deg) translateY(15px);
  -o-transform: rotate(14deg) scale(1.03) skewX(14deg) translateY(15px);
  -moz-transform: rotate(14deg) scale(1.03) skewX(14deg) translateY(15px);
  -ms-transform: rotate(14deg) scale(1.03) skewX(14deg) translateY(15px);
  transform: rotate(14deg) scale(1.03) skewX(14deg) translateY(15px);
}

#footer-right {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-14deg) scale(1.03) skewX(-14deg) translateY(15px);
  -o-transform: rotate(-14deg) scale(1.03) skewX(-14deg) translateY(15px);
  -moz-transform: rotate(-14deg) scale(1.03) skewX(-14deg) translateY(15px);
  -ms-transform: rotate(-14deg) scale(1.03) skewX(-14deg) translateY(15px);
  transform: rotate(-14deg) scale(1.03) skewX(-14deg) translateY(15px);
}

h3 {
  color: $color3;
  font-size: 2.33em;
  padding: 0;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 125%;
}

#subtitle {
  margin-top: 36px;
}

#description {
  background: image-url('likeweirdstuff-logo.png'), no-repeat center center;
  width: 487px;
  height: 366px;
  display: inline-block;
}
