@import "helpers";

ul { list-style-type: none; margin: 6px 0 0 0; }

a { text-decoration: none; color: inherit; }
a:hover { color: black; }

body {
  font-family: $default-font;
  background-color: $color01;
  text-align: center;
  margin: 0;
}

#content { width: 100%; }

.nav-container {
  height: 33px;
  margin-bottom: 0;
}

.share-facebook {
  height: 33px;
  width: 33px;
}

.share-facebook:hover {
  background: image-url('Button_facebook_overlay_highscorescreen.png') no-repeat center center
}

.share-twitter {
  height: 33px;
  width: 44px;
}

.share-twitter:hover {
  background: image-url('Button_twitter_highscorescreen_overlay.png') no-repeat center center
}

header { padding: 24px 30px; }

h1,h2,h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 125%;
}

h1 {
  font-size: 4.8em;
  letter-spacing: 0px;
}
h2 {
  font-size: 9.3em;
  line-height: 0.85em;
}
h3 { font-size: 2.33em; }

.initial-description {
  background: image-url('likeweirdstuff-logo.png') no-repeat center center;
  width: 487px;
  height: 366px;
  display: inline-block;
}

.description {
  margin-top: 15px;
}

.facebook-like {
  position: relative;
  top: 23px;
  left: 200px;
}

.angle-container {
  height: 138px;
  position: relative;
  top: $angle-overlap;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

.angle-area {
  height: 139px;
}

footer {
  min-height: 96px;
  position: relative;
  top: $angle-overlap;
}

.ws-form { margin-top: 42px; }

.ws-btn {
  width: 50px;
  height: 24px;
  background-color: $fb-like-bg-color1;
  color: $fb-like-color;
  border-radius: 2px;
  border: none;
}

.ws-btn:active {
  background-color: $fb-like-color;
  color: $fb-like-bg-color1;
}

#admin-notification {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.33em;
}

.fb-like-container {
  overflow-y: hidden;
  height: 47px;
}

.subtitle {
  margin-top: 36px;
}

.title-top {
  width: 700px;
  font-family: $font2;

  .bar {
    width: 27%;
    margin-top: 45px;
  }
}

.title-middle {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 280px;
  font-family: $font1;
}

.middle-table-cell {
  display: table-cell;
  vertical-align: middle;
}

.title-bottom {
  width: 700px;

  .bar {
    width: 32%;
    margin-top: 20px;
  }
}

.bar {
  height: 12px;
  padding: 0;
}

@-webkit-keyframes animate { 0% { height: 0px; } 100% { height: 6px; } }
@keyframes         animate { 0% { height: 0px; } 100% { height: 6px; } }
@-o-keyframes      animate { 0% { height: 0px; } 100% { height: 6px; } }
@-moz-keyframes    animate { 0% { height: 0px; } 100% { height: 6px; } }
@-ms-keyframes     animate { 0% { height: 0px; } 100% { height: 6px; } }

.vertical-animate {
  background-color: $color00;
  -webkit-animation: animate 0.3s ease-in-out 3s 6 alternate;
  -moz-animation:    animate 0.3s ease-in-out 3s 6 alternate;;
  -ms-animation:     animate 0.3s ease-in-out 3s 6 alternate;;
  -o-animation:      animate 0.3s ease-in-out 3s 6 alternate;;
}

#dim {
  background-color: #151515;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
}

#shutdown {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  margin: 0 auto;
  margin-left: -480px;
  margin-top: -80px;
  margin-right: 100px;

  h3 {
    color: white;
    text-align: left;
    font-size: 3.67em;
  }

  a { text-decoration: underline; color: inherit; }
  a:hover { color: white; }
}
