$color1: #ff0066;
$color2: #66ff00;
$color3: #421714;
$default-font: 'georgia', serif;
$angle-overlap: -55px;

body {
  font-family: $default-font;
  background-color: $color1;
}

#content {
  height: 928px;
  text-align: center;
}

header {
  padding-top: 147px;
  padding-bottom: 0px;
  background-color: $color1;
}

h3 {
  color: $color3;
  font-size: 2.33em;
  padding: 0;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 125%;
}

#subtitle {
  margin-top: 36px;
}

#description {
  background: image-url('likeweirdstuff-logo.png'), no-repeat center center;
  width: 487px;
  height: 366px;
  display: inline-block;
}

#facebook-like {
  position: relative;
  top: 23px;
  left: 200px;
}

#angle-container {
  height: 139px;
  position: relative;
  top: $angle-overlap;
  background: image-url('angle.svg'), 0 0 no-repeat;
}

footer {
  height: 100%;
  background-color: $color2;
  position: relative;
  top: $angle-overlap;
}
