@import "helpers";

ul { list-style-type: none; }

body {
  font-family: $default-font;
  background-color: black;
  text-align: center;
  margin: 0;
}

#content { width: 100%; }

.nav-container {
  height: 33px;
  margin-bottom: 32px;
}

.share {
  height: 33px;
  width: 33px;
}

header { padding: 24px 30px; }

h1,h2,h3 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 125%;
}

h1 {
  font-size: 4.8em;
  letter-spacing: 0px;
}
h2 {
  font-size: 9.3em;
  line-height: 0.9em;
}
h3 { font-size: 2.33em; }

.initial-description {
  background: image-url('likeweirdstuff-logo.png') no-repeat center center;
  width: 487px;
  height: 366px;
  display: inline-block;
}

.facebook-like {
  position: relative;
  top: 23px;
  left: 200px;
}

.angle-container {
  height: 139px;
  position: relative;
  top: $angle-overlap;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.angle-area {
  height: 139px;
}

footer {
  min-height: 96px;
  position: relative;
  top: $angle-overlap;
}

.ws-form { margin-top: 42px; }

.ws-btn {
  width: 50px;
  height: 24px;
  background-color: $fb-like-bg-color1;
  color: $fb-like-color;
  border-radius: 2px;
  border: none;
}

.ws-btn:active {
  background-color: $fb-like-color;
  color: $fb-like-bg-color1;
}

#admin-notification {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 1.33em;
}

.fb-like-container {
  overflow-y: hidden;
  padding-bottom: 24px;
}

.subtitle {
  margin-top: 36px;
}

.title-top {
  width: 700px;
  font-family: $font2;

  .bar {
    width: 27%;
    margin-top: 45px;
  }
}

.title-middle {
  min-height: 280px;
  font-family: $font1;
}

.title-bottom {
  width: 700px;

  .bar {
    width: 32%;
    margin-top: 20px;
  }
}

.bar {
  height: 12px;
  padding: 0;
}
