$color1: #ff0066;
$color2: #66ff00;
$color3: #421714;
$fb-like-bg-color1: #eceef5;
$fb-like-bg-color2: #f4f6ff;
$fb-like-color: #5571a9;
$default-font: 'georgia', serif;
$angle-overlap: -55px;

body {
  font-family: $default-font;
  background-color: $color1;
}

#content {
  height: 928px;
  text-align: center;
}

header {
  padding-top: 147px;
  padding-bottom: 0px;
  background-color: $color1;
}

h3 {
  color: $color3;
  font-size: 2.33em;
  padding: 0;
  margin: 0;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 125%;
}

#subtitle {
  margin-top: 36px;
}

#description {
  background: image-url('likeweirdstuff-logo.png') no-repeat center center;
  width: 487px;
  height: 366px;
  display: inline-block;
}

#facebook-like {
  position: relative;
  top: 23px;
  left: 200px;
}

#angle-container {
  height: 139px;
  position: relative;
  top: $angle-overlap;
  background: image-url('angle.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer {
  height: 100%;
  background-color: $color2;
  position: relative;
  top: $angle-overlap;
}

.ws-btn {
  width: 50px;
  height: 24px;
  background-color: $fb-like-bg-color1;
  color: $fb-like-color;
  border-radius: 2px;
  border: none;
  margin-top: 42px;
}

.ws-btn:active {
  background-color: $fb-like-color;
  color: $fb-like-bg-color1;
}

#admin-notification {
  background-color: $color2;
  color: $color1;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  margin-top: 12px;
  font-weight: bold;
  font-size: 1.33em;
}
