!!!
%html
  %head
    %title="Like Weird Stuff"
    =stylesheet_link_tag    "application", media: "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
    -# Search
    %meta{ property: "description",    content: "Do you have the balls to like weird stuff?" }
    -# Facebook
    %meta{ property: "og:title",       content: "Like Weird Stuff" }
    %meta{ property: "og:image",       content: "#{root_url}/assets/likeweirdstuff_thumb.jpg" }
    %meta{ property: "og:description", content: "Do you have the balls??" }
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38597021-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=506085299442621";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  %body
    #fb-root
    - if @admin.present?
      #admin-notification.bg-color01="Hi #{@admin.first_name}, press 'SKIP' to go to the next page"
    #content{ :'url-for-next' => root_url }
      = yield
